// 1450px
@include xxxxlg-xxxxxlg {
  .button {
    padding: 19px 56px;

    &.primary {}
  }
}

// 1380px
@include xxxlg-xxxxlg {
  h3 {
    font-size: 23px;
    line-height: 30px
  }
  p {
    font-size: 14px;
    line-height: 18px;
  }
  @include hero-xxxlg-xxxxlg;
  @include nav-xxxlg-xxxxlg;
}

// 1250px
@include xlg-xxlg-extra {
  @include hero-xlg-xxlg-extra;
  @include header-xlg-xxlg-extra;
  @include nav-xlg-xxlg-extra;

  .button {
    font-size: 15px;
    line-height: 15px;
    padding: 17px 50px;
  }
}

// 1180px
@include xlg-xxlg {
  .auto__container {
    padding: 0 30px;
  }

  .button {
    font-size: 14px;
    line-height: 14px;
    border-radius: 10px;
    padding: 16px 45px;
  }

  h2 {
    font-size: 35px;
    line-height: 45px;

    span {
      font-size: 22px;
      line-height: 28px;
    }

    &.big {
      padding: 14px 85px;
    }
  }

  @include hero-xlg-xxlg;
  @include nav-xlg-xxlg;
  @include footer-xlg-xxlg;
}

// 1024px
@include lg-xlg {
  ::-webkit-scrollbar {
    display: none;
  }

  .auto__container {
    padding: 0 25px;
  }

  h2 {
    font-size: 30px;
    line-height: 38px;

    span {
      font-size: 20px;
      line-height: 26px;
    }

    &.big {
      padding: 13px 80px;
    }
  }

  @include hero-lg-xlg;
  @include nav-lg-xlg;
  @include header-lg-xlg;
}

// 930px
@include md-lg {
  @include hero-md-lg;
  @include footer-md-lg;
}

// 750px
@include sm-md {
  .auto__container {
    padding: 0 16px;
  }
  h3 {
    font-size: 28px;
    line-height: 36px
  }
  p {
    font-size: 16px;
    line-height: 19px;
  }
  .button {
    font-size: 16px;
    line-height: 19px;
    border-radius: 15px;
    padding: 16px 32px;

    &.secondary {
      margin-right: 8px
    }
  }

  @include hero-sm-md;
  @include nav-sm-md;

}

// 650px
@include sm-md-extra {
  h2 {
    font-size: 25px;
    line-height: 32px;

    span {
      font-size: 17px;
      line-height: 20px;
    }

    &.big {
      padding: 20px;
    }
  }

  @include hero-sm-md-extra;
  @include header-sm-md-extra;
  @include nav-sm-md-extra;
  @include footer-sm-md-extra;
}

// 540px
@include xsm-sm {
  h6 {
    font-size: 50px;
    line-height: 58px;
  }
  h3 {
    font-size: 24px;
    line-height: 29px
  }
  p {
    font-size: 14px;
    line-height: 17px;
  }
  h2 {
    font-size: 25px;
    line-height: 30px;

    span {
      font-size: 20px;
      line-height: 24px;
    }

    &.big {
      padding: 15px;
    }
  }



  @include hero-xsm-sm;
  @include header-xsm-sm;

  @include footer-xsm-sm;
}

// 440px
@include xxsm-xsm {
  h2 {
    &.big {
      padding: 15px;
    }
  }

  h3 {
    font-size: 25px;
    line-height: 32px;
  }

  h4 {
    font-size: 18px;
    line-height: 23px;
  }

  h6 {
    font-size: 45px;
    line-height: 55px;
  }

  @include hero-xxsm-xsm;
  @include header-xxsm-xsm;
  @include footer-xxsm-xsm;

}

// 390px
@include xxxsm-xxsm {
  // @include nav-xxxsm-xxsm;
}